<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/main/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/main/css/navbar.css">
    <!-- fontawesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <!-- header -->
    <header class="header">
        <a href="" class="logo"><img src="../../assets/main/img/clogo.jpg" class="logo" alt=""></a>
        
        <input type="checkbox" name="" id="check">
        <label for="check" class="icons">
            <i class="fa-solid fa-bars" id="menu-icon"></i>
            <i class="fa-solid fa-xmark" id="x-icon"></i>
        </label>

        <!-- Navbar -->
        <nav class="navbarr">
            <a href="" class="nav-link fw-bold">
                Why aCloud ?
            </a>
            <a href="" class="nav-link fw-bold">
                About Us
            </a>
            <a href="" class="nav-link fw-bold">
                Pricing            
            </a>    
            <a href="" class="nav-link fw-bold">
                Contact
            </a>
            <a href="" class="nav-link fw-bold">
                Sign Up
            </a>
            <a href="" class="nav-link fw-bold">
                Login
            </a>
        </nav>
        <!-- End Navbar -->
    </header>

    <!-- endheader -->
    
    <!-- main -->
    <main>
        <h1>Salom</h1>
    </main>
    <!-- endmain -->

    <!-- footer -->
    <footer>

    </footer>
    <!-- endfooter -->
    <script src="../assets/main/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>