@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.div-text {
    padding-top: 120px;
    padding-left: 50px;
}

.main-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}