<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/main/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/main/css/404.css">
</head>
<body>
    <div class="div vh-100 d-flex justify-content-center align-items-center">
        <div class="section-404">
            <div class="img">
                <img src="../assets/main/img/404.png" class="" alt="">
            </div>
            <div class="text">
                <h1 class="text-light">aCLoud cannot find that page</h1>
                <a href="home.html" class="text-light"><p class="text-center">Go to aCLoud </p><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</body>
</html>